{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<div class="container" style="background: chartreuse;text-align: center; border-style: solid;border: white;padding: 10px;border-radius: 25px; filter: drop-shadow(2px 4px 8px #585858);">

    <div class="jumbotron" >
        <div class-align='center'>
          <h1>Welcome to {{user.username}}'s page</h1>
          <img class-align='center' src="{{url_for('static',filename='photos/'+user.profile_pic)}}" width="30%" height="30%">
        </div>
    </div>
    <div class="container mt-5" style="display: flexbox; justify-content: flex-start;">
      <div class="row">
        <div class="col-md-4 lh-lg">
    <div class="jumbotron"
    style="background: white ; border-style: solid;border: 2px solid chartreuse;padding: 10px;border-radius: 25px; filter: drop-shadow(2px 4px 8px #585858);">
      {% for post in blog_posts.items %}
      <div class="card">
        <div class="card-body">
          <h2><a class="card-title" href="{{url_for('main.blog_post',blog_post_id=post.id)}}"
              style="color: white;">{{post.title | capitalize}}</a></h2>
          <a href="{{url_for('main.user_posts',username=post.author.username)}}" style="color: black;">Posted By:
            {{post.author.username | capitalize}}</a>
    
          <p>Published on: {{post.date.strftime('%d-%m-%y')}}</p>
          <a class="btn btn-primary" href="{{url_for('main.blog_post',blog_post_id=post.id)}}">Read Blog Post</a>
          <a href="{{ url_for('main.blog_details', id = blog_id)}}"><button class="btn-success"><i
                class="fal fa-comment-smile"></i></button></a>
        </div>
      </div>
      <br>
      <p>
        {{post.text}}
      </p>
      {% endfor %}
    </div>
    </div>
    </div>
    </div>
   
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page_number in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
           {% if blog_posts.page == page_num%}
            <li class="page-item disabled"><a class="page-link" href="{{url_for('main.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('main.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a></li>
           {% endif %}
        {% endfor %}
    </ul>
  </nav>

  <div class="row mt-5" style="background: #C4FB6D; border-style: solid;border: 2px solid white;padding: 10px;border-radius: 25px; filter: drop-shadow(2px 4px 8px #585858);">
        
    <div class="col-md-12">
        <footer>
            <p style="text-align: center"><b>Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Jk-Blogs All Rights Reserved </b> 
            </p>
        </footer>
    </div>
</div>
</div>

{% endblock%}