{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container">
    <form class='form-group' method="POST">
        {{form.hidden_tag()}}
        <div class="form_group">
            {{form.title.label(class="form-control-label")}}
            {{form.title(class="form-control form-control-lg")}} 
        </div>

        <div class="form_group">
            {{form.post.label(class="form-control-label")}}
            {{form.post(class="form-control form-control-lg")}}
        </div>

        <div class="form_group">
            {{form.submit(class="btn btn-outline-info")}} 
        </div>

    </form>
</div>

{% endblock%}