{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="jumbotron" >
    <h1>{{post.title | capitalize}}</h1>
    <p> <b> {{post.post | capitalize}}</b></p>
    <h5>Written by: {{post.author.username | capitalize}}</h5>
    <h5>Published: {{post.date.strftime('%d-%m-%Y')}}</h5>
    

    {% if post.author == current_user%}
    <div>
        <a href="{{url_for('main.update',blog_post_id=post.id)}}">Update</a>
        <button type="button" class="btn btn-danger" data-toggle='modal' data-target="#del_modal">Delete</button>
    {% endif%}
</div>

<div class="modal" tabindex="-1" id="del_modal">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the blog?</p>
        </div>
        <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          
          <form action="{{url_for('main.delete_post', blog_post_id=post.id)}}" method="POST">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5" style="background: #C4FB6D; border-style: solid;border: 2px solid white;padding: 10px;border-radius: 25px; filter: drop-shadow(2px 4px 8px #585858);">
        
  <div class="col-md-12">
      <footer>
          <p style="text-align: center"><b>Copyright &copy;
              <script>document.write(new Date().getFullYear())</script> Jk-Blogs All Rights Reserved </b> 
          </p>
      </footer>
  </div>
</div>
</div>


{% endblock%}