{% extends 'base.html' %}

{% block content %}




  <div class="jumbotron">
    <h1>Jk-Blogs</h1>
  </div>

  <div class="container">
      {% for post in blog_posts.items %}
        <div class="card">
            <div class="card-body">
                <h2><a class="card-title" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a></h2>
                <a href="{{url_for('users.user_posts',username=post.author.username)}}">Posted By: {{post.author.username}}</a>
            
                <p>Published on: {{post.date.strftime('%d-%m-%y')}}</p>
                <a class = "btn btn-primary" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">Read Blog Post</a>
            </div>
        </div>
      {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page_number in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
           {% if blog_posts.page == page_num%}
            <li class="page-item disabled"><a class="page-link" href="{{url_for('main.index',page=page_num)}}">{{page_num}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('main.index',page=page_num)}}">{{page_num}}</a></li>
           {% endif %}
        {% endfor %}
    </ul>
  </nav>
    <!-- Footer -->
    <div class="row mt-5">
        <hr>
        <div class="col-md-12">
            <footer>
                <p style="text-align: center"> Copyright &copy;
                    <script>document.write(new Date().getFullYear())</script> Jk-Blogs All Rights Reserved
                </p>
            </footer>
        </div>
    </div>
</div>

{% endblock %}